* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*background: url(background1.jpg);*/
    /*background-size: cover;*/
    font-family: ;
}

nav {
    position:fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 20%;
    font-size: 24px;
}

header {
    position: fixed;
    top: 40px;
    left:0px;
    width: 30%;
    font-size: 36px;
}

li {
    float: left;
    list-style: none;
}

.contactIcon {
    position: fixed;
    bottom: 0px;
    right: 0px;

}